/* External CSS */

body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #0b0f1a;
    color: #ffffff;
}

.chapter {
    width: 70%;
    margin: 60px auto;
    padding: 50px;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.8;
}

.chapter h2 {
    text-align: center;
}

.chapter h3 {
    text-align: center;
    font-weight: normal;
}

.nav {
    margin-top: 40px;
    text-align: center;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    color: #1a237e;
}
